
$z-index-header: 1000;
$header-height: 1.8rem;

/* fonts */
$primary: #1F2229;
$secondary: #fff;


/* color */
$white: #fff;
$black: #000;
$blue: #5587ff;
$dark-purple: #2E3D62;

/* group */

$group-13: linear-gradient(180deg, #FFD652 0%, #FCC101 100%);
$group-10: linear-gradient(180deg, #EC8380 0%, #EC625E 100%);
$group-7: linear-gradient(180deg, #84BCFF 0%, #64A6F4 100%);
$group-4: linear-gradient(180deg, #6EE36E 0%, #40C140 100%);