.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.12em 2.1em;

  background: black;
  border: none;
  cursor: pointer;
  border-radius: 3em;

  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  color: $white;
  text-decoration: none;

  transition: background-color .2s linear;

  &--red {
    background-color: red;

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }

  &--blue {
    background-color: blue;
    &:hover {
      background-color: darken(#fff, 5%);
    }
  }
}