.footer {
  padding: 120px 0;

  position: relative;
  overflow: hidden;

  .footer-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    fill: #f7f9fb;
    z-index: -1;
  }

  .footer__item {
    .footer__devider {
      margin-top: 15px;
      margin-bottom: 0;
      width: 50px;
    }
  }
}

.footer__user  {
  margin-top: 2rem;
  li {
    display: flex;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__link {
  display: flex;
  align-items: center;
  color: $primary;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    opacity: $opacity;
  }
}

.ft-group-13:before {
  content: '';
  display: block;
  margin-right: 1.5rem;

  width: 1rem;
  height: 1rem;

  border-radius: 2px;
  background: $group-13;
}

.ft-group-10:before {
  content: '';
  display: block;
  margin-right: 1.5rem;

  width: 1rem;
  height: 1rem;

  border-radius: 2px;
  background: $group-10;
}

.ft-group-7:before {
  content: '';
  display: block;
  margin-right: 1.5rem;

  width: 1rem;
  height: 1rem;

  border-radius: 2px;
  background: $group-7;
}

.ft-group-4:before {
  content: '';
  display: block;
  margin-right: 1.5rem;

  width: 1rem;
  height: 1rem;

  border-radius: 2px;
  background: $group-4;
}

.footer__title {
  font-weight: 700;
  font-size: 2rem;
  color: $primary;
}

.footer__inner {
  margin-bottom: 1.5rem;
  a {
    color: $primary;
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__address, .footer__mail {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer__phone {
  font-size: 3rem;
  font-weight: 800;
}

.item {
  display: flex;
  align-items: center;

  font-family: "Font Awesome 5 Free Regular", "Font Awesome 5 Brands";
  font-size: 3.1rem;

  .link.vk:before {
    content: "\f189";
    font-weight: 600;
    margin-right: 1.5rem;
  }
  .link.inst:before {
    content: "\f16d";
    font-weight: 500;
  }
}
