<header class="header">
    <div class="container">
        <div class="header__item">
            <div class="header__logo nav__item">
                <a href="#" class="nav__link logo">
                    <i class="fas fa-dove"></i>
                    <span class="">
                        <span class="logo__top">Арт-студия</span>
                        <p class="logo__bottom">Расписной малюр</p>
                    </span>
                </a>
            </div>
            <div class="header__nav">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link has-subnav" href="#">Обучение</i>
                            </a>
                            <ul class="subnav top-wrap">
                                <li class="subnav__item">
                                    <a class="subnav__link" href="#"><span class="group group-13"></span>от 13+</a>
                                </li>
                                <li class="subnav__item">
                                    <a class="subnav__link" href="#"><span class="group group-10"></span>от 10+</a>
                                </li>
                                <li class="subnav__item">
                                    <a class="subnav__link" href="#"><span class="group group-7"></span>от 7+</a>
                                </li>
                                <li class="subnav__item">
                                    <a class="subnav__link" href="#"><span class="group group-4"></span>от 4+</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Курсы</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Галерея</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">О студии</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="header__social">
                <a href="#" class="social__link">
                    <span class="social__item vk"></span>
                </a>
                <a href="#" class="social__link">
                    <span class="social__item inst"></span>
                </a>
            </div>

        </div>
    </div>
</header>

